<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.OplogMapper">
    <insert id="addOplog" parameterType="org.sang.bean.Oplog">
        INSERT INTO oplog (hrid, operate, addDate) values(${oplog.hrid}, #{oplog.operate}, #{oplog.addDate});
    </insert>

    <select id="getAllOplog" resultType="org.sang.bean.Oplog">
        SELECT * FROM oplog WHERE ORDER BY id;
    </select>
</mapper>